<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Renueva tu hogar con los muebles y accesorios de decoración con la más alta calidad, elegancia y estilo. 28 años nos respaldan.">
    <meta name="keywords" content="muebles, recámaras, salas, comedor">
    <title>Nasser Muebles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="shortcut icon" href="assets/images/logoNasser.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Enriqueta&display=swap" rel="stylesheet">
    <script>
        function submitEmailForm(form) {
            var obj = new XMLHttpRequest();
            obj.onreadystatechange = function () {
                if (obj.readyState == 4) {
                    if (obj.status == 200) {
                        var res = JSON.parse(obj.responseText);
                        alert(res.message);
                    }
                    else {
                        console.log("XMLHttp status " + obj.status + ": " + obj.statusText);
                    }
                }
            };
            obj.open("post", form.action, true);
            obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
            obj.send(JSON.stringify({ name: form.name.value, email: form.email.value, zip: form.zip.value, number: form.tel.value, checkbox: form.checkBox.value }));
            alert("¡En breve te contactaremos!");
            $(".formInput").val(" ");
            window.location.href = "/gracias";
            return false;
        }
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '246290197391154');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=246290197391154&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body class="fontNasser">
    <div class="divNasserLogo container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/">
                    <img src="/assets/images/logoNasser.png" class="img-fluid" alt="Responsive image"></a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="bodyPrincipal">
        {{{body}}}
    </div>
    <div class="footer footerNasser">

    </div>
    <div class="footerfoot bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <a href="https://www.facebook.com/mueblesnassermx/" target="_blank">
                        <span class="icon">
                            <i class="fa fa-facebook fa-footer" style="color: #144733;"></i>
                        </span>
                    </a>
                    <a href="https://www.instagram.com/nasser_muebles/" target="_blank">
                        <span class="icon">
                            <i class="fa fa-instagram fa-footer" style="color: #144733;"></i>
                        </span>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=+525559665919" target="_blank">
                        <span class="icon">
                            <i class="fab fa-whatsapp fa-footer" style="color: #144733;"></i>
                        </span>
                    </a>

                    <p><b>Nasser Muebles</b> Todos los derechos reservados. Sus datos están protegidos
                        por
                        la ley de privacidad. <span><a href="/privacidad" style="color: #144733;">Visita nuestra
                                política de privacidad</a></span></p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <script src="/assets/js/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>