<div class="thankuDiv">
    <div class="bannerGracias">
        <div class="container ">
            <div class="row text-center text-white">
                <div class="col-md-4"></div>
                <div class="col-md-4 contGracias">
                    <h1>¡Gracias!</h1><br>
                    <h4>Ya tienes tu 5% de descuento adicional</h4>
                    <h5>Contáctanos para hacerlo válido o dirígete a nuestras tiendas</h5>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>