<div class="inicioDiv">
    {{!-- <div class="bannerDescuento">
        
    </div> --}}
    <div class="bannerInicio"></div>
    <div class="formularioDiv">
        <div class="container text-center">
            <h4>¡Te invitamos a registrarte para recibir 5% extra de descuento adicional <br> al resto de las promociones!</h4>
        </div> <br>
        <div class="container">
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/contacto';">¡Quiero registrarme!</button>
        </div>
    </div>
</div>