<div class="privacidad">
    <div class="bannerPrivacidad">
        <div class="overlayPrivacidad">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h2 class="avisoPrivacidadTitle text-white">AVISO DE PRIVACIDAD</h2>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="miniNav">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="/">
                        <h5 class="text-dark">INICIO</h5>
                    </a>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="avisoDiv">
        <div class="container">
            <h3>
                AVISO DE PRIVACIDAD
            </h3> <br>
            <h4>
                1. IDENTIDAD Y DOMICILIO DEL RESPONSABLE.
            </h4>
            <p class="text-secondary">
                JAMANASHATA S.A. de C.V (como el “Responsable”), con domicilio en calle Abedules, número 65, Colonia
                Santa
                María Insurgentes, Cuauhtémoc, Código Postal 06430, Ciudad de México.
            </p> <br>
            <h4>
                2. DATOS PERSONALES QUE SE REQUERIRÁN.
            </h4>
            <p class="text-secondary">
                Los datos personales que se obtengan de manera verbal, por escrito, o a través de medios electrónicos,
                de conformidad con las finalidades para las que otorgue su consentimiento, serán los siguientes: <br>
                <br>

                a) Datos de identificación <br> <br>

                b) Datos financieros / patrimoniales.
            </p> <br>

            <h4>
                3. FINALIDADES DEL TRATAMIENTO DE LOS DATOS PERSONALES.
            </h4>
            <p class="text-secondary">
                Los datos personales que se obtengan serán utilizados para realizar las siguientes finalidades:
            </p> <br>
            <h5>
                A. Finalidades Primarias:
            </h5>
            <p class="text-secondary">
                (a) verificar su identidad e información; (b) integrar su expediente; (c) actualizar nuestra base de
                datos; (d) gestionar pagos derivados de su crédito; (e) prestar los servicios y llevar a cabo la compra
                y venta de productos solicitados por usted de manera remota (incluyendo sin limitar los servicios de
                venta por teléfono e internet); (f) brindarle los servicios en Diseño de Interiores, (g) entregarle a
                domicilio sus productos y/o prestarle los servicios adquiridos; (h) informarle y/o contactarle por
                cualquier medio óptico, sonoro, tecnológico o físico (WhatsApp, SMS, teléfono, correo electrónico,
                mensajería, entre otros), respecto al estatus de sus compras y/o entrega de sus productos o servicios;
                (i) instalarle y/o armarle sus productos; (j) cambio de productos; (k) la emisión de facturas; (l) pago
                de servicios por única ocasión o programación de pagos de servicios; (m) videovigilancia dentro de
                nuestras instalaciones para su seguridad y la del personal que se encuentra en ellas; (n) cumplir con la
                normatividad aplicable y requerimientos de las autoridades con base en Ley para el cumplimiento de las
                disposiciones legales y requerimientos de diversas autoridades y; (o) atender sus dudas, quejas y
                sugerencias como cliente.
            </p>
            <h5>
                B. Finalidades Secundarias:
            </h5>
            <p class="text-secondary">
                Adicionalmente, su información personal podrá ser utilizada con las siguientes finalidades: (a) enviarle
                por diversos medios nuestras promociones; (b) invitarle a participar en sorteos y concursos; (c)
                realizar publicidad en redes sociales, medios de comunicación e información, periódicos y revistas; (d)
                llevar a cabo encuestas de satisfacción, para evaluar la calidad de los productos y servicios; (e)
                ofrecerle cualquiera de nuestros servicios y productos, líneas de crédito; (f) fines mercadológicos, de
                prospección comercial y fines estadísticos e históricos.

                El titular de los datos personales tiene derecho a oponerse a que sus datos personales sean usados para
                los fines contenidos en el inciso B anterior. En caso de que desee ejercer este derecho, el titular de
                los datos personales deberá hacerlo conforme al procedimiento establecido en el inciso IV del presente
                Aviso de Privacidad, dentro de los 5 días hábiles siguientes a la fecha en la que el presente Aviso de
                Privacidad haya sido puesto a su disposición, a efecto de que el Responsable no trate sus datos para
                dichos fines. En caso contrario, se entenderá que el titular consiente el tratamiento de sus datos para
                todos los fines enumerados anteriormente. Hacemos notar que lo anterior es sin perjuicio de lo señalado
                en el artículo 26 de la Ley y demás disposiciones aplicables.

                La negativa para el uso de sus datos personales sobre las Finalidades Secundarias no será motivo para
                que le neguemos nuestros servicios.
            </p> <br>
            <h4>
                4. OPCIONES O MEDIOS OFRECIDOS POR EL RESPONSABLE PARA LIMITAR EL USO O DIVULGACIÓN DE LOS DATOS
                PERSONALES.
            </h4>
            <p class="text-secondary">
                Para limitar el uso o divulgación de sus datos personales, el titular deberá enviar un correo
                electrónico, dirigido a la siguiente dirección electrónica: contacto@nassermuebles.com, solicitando la
                limitación del uso o divulgación de que se trate, donde podrá solicitar se le incluya en los listados de
                exclusión internos de no contactar para fines promocionales y mercado lógicos. Asimismo, podrá
                inscribirse en el registro público para evitar publicidad de la Procuraduría Federal del Consumidor
                (REPEP), accediendo a la siguiente liga, http://repep.profeco.gob.mx/.
                Sin embargo, si el titular de los datos personales limita el uso que el Responsable pueda dar a sus
                datos personales, es posible que puedan no tener conocimiento respecto a los beneficios adicionales
                relacionados con nuestras finalidades secundarias.
            </p> <br>
            <h4>
                5. MEDIOS PARA EJERCER LOS DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN U OPOSICIÓN (“DERECHOS ARCO).
            </h4>
            <p class="text-secondary">
                De conformidad con la Ley, el titular de los datos personales tiene el derecho de Acceder (“Acceso”) a
                los datos que posee el Responsable y a los detalles del tratamiento de los mismos, así como a
                Rectificarlos en caso de ser inexactos o incompletos (“Rectificación”); Cancelarlos en los términos de
                la Ley (“Cancelación”) u Oponerse al tratamiento de los mismos para fines específicos (“Oposición”).
                <br> <br>

                El titular de los datos personales o su representante legal podrán ejercer los derechos descritos
                anteriormente enviando un correo electrónico a la siguiente dirección electrónica:
                contacto@nassermuebles.com, indicando que solicita ejercer sus derechos ARCO, se le remitirá como
                respuesta el formato para el ejercicio de los derechos ARCO, una vez recibida la solicitud el Titular
                deberá enviar la misma debidamente llenada a la dirección mencionada anteriormente adjuntando los
                siguientes documentos en copia escaneada o PDF : (i) identificación oficial vigente, (ii) nombre
                completo del titular, (iii) descripción clara de los datos personales sujetos al ejercicio del derecho
                ejercido y (iv) documentos que acrediten la representación legal del titular en caso de que los derechos
                sean ejercidos por su representante. El Responsable dará respuesta a dicha solicitud en un plazo no
                mayor a 20 días hábiles por el mismo medio. <br> <br>

                En caso de ser procedente la solicitud, el Responsable dentro de los siguientes 15 días hábiles,
                aplicarán el derecho ejercido por el titular. <br> <br>

                El Responsable, podrá negar el acceso a los datos personales, o a realizar la rectificación o
                cancelación o conceder la oposición al tratamiento de los mismos, en los supuestos establecidos en el
                artículo 34 de la Ley. <br> <br>

                El Responsable no estará obligado a cancelar los datos personales del titular, bajo los supuestos
                establecidos en el artículo 26 de la Ley.
            </p> <br>
            <h4>
                6. REVOCACIÓN DEL CONSENTIMIENTO.
            </h4>
            <p class="text-secondary">
                El Titular podrá revocar el consentimiento que nos ha otorgado para el tratamiento de sus datos
                personales en cualquier momento, tal y como lo establece el artículo 8 de la Ley, para lo anterior será
                necesario enviar un correo electrónico a la siguiente dirección electrónica: contacto@nassermuebles.com
                donde se le informará el procedimiento a seguir.
            </p> <br>
            <h4>
                7. TRANSFERENCIA DE LOS DATOS PERSONALES QUE SE EFECTÚEN.
            </h4>
            <p class="text-secondary">
                Las transferencias realizadas por el Responsable serán en términos a lo establecidas en el artículo 37
                de la Ley, y en cumplimiento al Artículo 68 del Reglamento.
            </p> <br>
            <h4>
                8. USO DE COOKIES.
            </h4>
            <p class="text-secondary">
                Utilizamos cookies para mejorar nuestros servicios y mostrarle publicidad relacionada con sus
                preferencias de navegación y el contenido de sus visitas anteriores. Al visitar nuevamente los sitios
                web del Responsable, las cookies nos pueden permitir personalizar nuestro contenido de acuerdo con sus
                preferencias. <br> <br>

                Hacemos notar que las páginas de internet del Responsable no usan o guardan cookies para obtener datos
                de identificación personal de la computadora del Titular que no se hayan enviado originalmente como
                parte de la cookie. <br> <br>

                Aunque la mayoría de los navegadores aceptan “cookies”, el titular puede configurar su navegador para
                que no los acepte. <br> <br>
            </p> <br>
            <h4>
                9. NOTIFICACIÓN DE CAMBIOS / ACTUALIZACIONES AL AVISO DE PRIVACIDAD.
            </h4>
            <p class="text-secondary">
                El presente Aviso de Privacidad podrá ser modificado y/o actualizado en cualquier momento por el
                Responsable, para la atención de reformas legislativas o jurisprudenciales, políticas internas, o nuevos
                requerimientos, siendo la versión actualizada la que se encuentre publicada en nuestra página de
                Internet www.nassermuebles.com, la aplicable en todo momento. <br> <br>

                En caso de que el Responsable cambie su identidad, requiera recabar datos personales patrimoniales o
                financieros adicionales, cambie las finalidades para la obtención de sus datos personales o modifique
                las condiciones de las transferencias que se puedan efectuar bajo lo establecido por el presente Aviso
                de Privacidad, se pondrá a disposición de los titulares de los datos un nuevo aviso de privacidad, a
                través del correo electrónico que el titular haya proporcionado al Responsable o por medio de la página
                de internet del Responsable. <br> <br>

                Fecha de última actualización: 8 de marzo de 2021.
            </p> <br>

        </div>

    </div>
</div>