
.fontNasser{
    font-family: 'Nunito Sans', sans-serif !important;
}
.bannerPrivacidad{
    height: 15rem;
    background-image: url("/assets/images/bannerPrivacidad.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0s linear;
    background-position: 25% 85%;
}
.avisoPrivacidadTitle{
    margin-top: 35%;
    font-weight: bolder;
}
.overlayPrivacidad{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
}
.miniNav{
    background-color: rgb(246, 244, 244);
    padding-top: 1%;
}
.avisoDiv{
    margin-top: 5%;
}
.footerfoot{
    padding-top: 3%;
    padding-bottom: 3%;
}
.bannerDescuento{
    height: 40rem;
    background-image: url("/assets/images/bannerLanding.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerInicio{
    height: 15rem;
    background-image: url("/assets/images/furniture.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;
    transition: 0s linear;
    background-position: 25% 85%; */
    margin-bottom: 5%;
}
.bannerGracias{
    height: 30rem;
    background-image: url("/assets/images/furniture2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.formularioDiv{
    margin-bottom: 5%;
}
.contGracias{
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 8px;
    margin-top: 13%;
}

@media(max-width:991px){
    .miniNav{
        padding-top: 2.5%;
    }
    .avisoPrivacidadTitle{
        font-size: 1.5rem !important;
    }
    .bannerDescuento, .bannerInicio{
        height: 11.5rem;
    }
    .formularioDiv{
        margin-bottom: 10%;
    }
    .bannerInicio{
        margin-bottom: 15%;
    }
    .contGracias{
        margin-top: 14%;
    }
    .bannerGracias{
        height: 18rem;
    }
}